:root {
	font-weight: bold;
}

#display-container {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 1px solid black;
}

#display {
	display: flex;
	justify-content: space-between;
}

#display * {
	font-size: 30pt;
	margin: 0px;
}

.playerContainer {
	position: absolute;
	top: 10%;
}

#player1Container {
	left: 10%;
}

#player2Container {
	right: 10%;
	text-align: right;
}

.shotgun {
	position: absolute;
	top: 400px;
	visibility: hidden;
	width: 300px;
}

#player1Shotgun {
	left: 50px;
}

#player2Shotgun {
	right: 50px;
	transform: scaleX(-1);
}

#player1ShootSelfBtn:hover ~ #player1Shotgun {
	transform: scaleX(-1) rotate(-30deg);
}

#player2ShootSelfBtn:hover ~ #player2Shotgun {
	transform: scaleX(1) rotate(-30deg);
}

.monkey {
	position: absolute;
	width: 300px;
	top: 250px;
}

#player1Monkey {
	left: 0px;
}

#player2Monkey {
	right: 0px;
	transform: scaleX(-1);
}

.duck {
	position: absolute;
	top: 360px;
	width: 150px;
	visibility: hidden;
}

#player1Duck {
	left: 250px;
}

#player2Duck {
	right: 250px;
	transform: scaleX(-1);
}

.statusDisplay {
	position: absolute;
	top: -100px;
	border: 1px solid black;
}

#player1StatusDisplay {
	left: 0px;
}

#player2StatusDisplay {
	right: 0px;
}

.itemsDisplay {
	max-width: 30vw;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes duckShootLTR {
	0% {
		left: 250px;
	}
	100% {
		left: calc(100vw - 400px);
	}
}

@keyframes duckShootRTL {
	0% {
		right: 250px;
	}
	100% {
		right: calc(100vw - 400px);
	}
}
